<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joe.cst2335finalgroupproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        //declare main/launch activity
        <activity android:name="com.example.joe.cst2335finalgroupproject.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //declare sub-activities
        <activity android:name="com.example.joe.cst2335finalgroupproject.ActivityTrackerActivity" />
        <activity android:name="com.example.joe.cst2335finalgroupproject.NutritionTrackerActivity" />
        <activity android:name="com.example.joe.cst2335finalgroupproject.ThermostatProgramActivity" />
        <activity android:name="com.example.joe.cst2335finalgroupproject.CarTrackerActivity" />

    </application>

</manifest>